<li  class="favorite__container row">
    <div class="favorite py-4 d-flex justify-content-center align-items-center position-relative">
        <p class="favorite--number position-absolute">{{ number }}</p>
        <img src="{{ asset(src)}}" alt="Couverture du livre" class="favorite--image">
        <div class="d-none">
            <h3>{{ title }}</h3>
            <div>
                <h4>Synopsis</h4>
                <p>{{ synopsis }}</p>
            </div>
            <div class="">
                <div class="stars">
                    {% for star in 0.. stars - 1 %}
                    <img src="{{ 'build/images/homepage/star-full-icon.svg' }}" alt="Etoile pleine">
                {% endfor %}
                {% if stars != 5 %}
                    {% set missing_stars = 5 - stars %}
                    {% for star in 0.. missing_stars - 1 %}
                        <img src="{{ 'build/images/homepage/star-empty-icon.svg' }}" alt="Etoile vide">
                    {% endfor %}
                {% endif %}
                </div>
                <div>{{ available ? 'Disponible' : 'Rupture' }}</div>
                <a type="button" href={{ more_href }}>
                    Avis
                </a>
                <a type="button" href={{ review_href }}>
                    En savoir plus
                </a>
            </div>
        </div>
    </div>
    <a href="#" type="button" class="barrow_button">Emprunter</a>
</li>  