<footer>
    <div class="footer_container">
        <div>
            <p>Nous contacter</p>
            <ul>
                <li><img src="{{ asset('build/images/email-icon.svg')}}" alt="email">contact@bibliobook.fr</li>
                <li><img src="{{ asset('build/images/phone-icon.svg')}}" alt="Phone number">Tel: 01 50 60 33 42</li>
                <li><img src="{{ asset('build/images/location-icon.svg')}}" alt="Location">Nos locaux</li>
            </ul>
        </div>
        <div>
            <p>BiblioBook</p>
            <a href=""><img src="{{ asset('build/images/logo.svg')}}" alt="Logo bibliobook"></a>
        </div>
        <div>
            <p>Rejoignez notre communauté !</p>
            <a href=""><img src="{{ asset('build/images/facebook.svg')}}" alt="Facebook"></a>
            <a href=""><img src="{{ asset('build/images/twitter.svg')}}" alt="Twitter"></a>
            <a href=""><img src="{{ asset('build/images/instagram.svg')}}" alt="Instagram"></a>
        </div>
        <div>
        <p>@ Copyright - BiblioBook.fr - Mentions légales</p>
        </div>

    </div>

</footer>
