<footer class="footer container-fluid">
    <div class="d-flex col-md-12 justify-content-around p-4">
        <div class="col-md-4 text-center order-md-2">
            <p class="footer_title pb-4">BiblioBook</p>
            <div class="footer_container rounded-circle">
                <a href=""><img class="footer_container--logo img-fluid" src="{{ asset('build/images/logo.svg')}}" alt="Logo bibliobook"></a>
            </div>
        </div>
        <div class="col-md-4 order-md-1">
            <p class="footer_title text-center pb-4">Nous contacter</p>
            <ul class="footer_contact">
                <li class="footer_text pb-3"><img src="{{ asset('build/images/email-icon.svg')}}" alt="email"> contact@bibliobook.fr</li>
                <li class="footer_text pb-3"><img src="{{ asset('build/images/phone-icon.svg')}}" alt="Phone number"> Tel: 01 50 60 33 42</li>
                <li class="footer_text"><img src="{{ asset('build/images/location-icon.svg')}}" alt="Location"> Nos locaux</li>
            </ul>
        </div>
        <div class="col-md-4 text-center order-md-3">
            <p class="footer_title pb-4">Rejoignez notre communauté !</p>
            <div class="footer_social-icon d-flex justify-content-center">
            <a href=""><img class="facebook img-fluid m-3" src="{{ asset('build/images/facebook.svg')}}" alt="Facebook"></a>
            <a href=""><img class="twitter img-fluid m-3" src="{{ asset('build/images/twitter.svg')}}" alt="Twitter"></a>
            <a href=""><img class="instagram img-fluid m-3" src="{{ asset('build/images/instagram.svg')}}" alt="Instagram"></a>
            </div>
        </div>
        <div class="d-flex justify-content-end">
        <a href=""><img class="arrow img-fluid rounded p-2" src="{{ asset('build/images/arrow-up.svg')}}" alt="arrow-up"></a>
        </div>
    </div>
    <div>
        <p class="footer_text col-md-12 text-center p-3">@ Copyright - BiblioBook.fr - Mentions légales</p>
    </div>
</footer>
